@page "/HandoverScheme/{departmentId:int}"
@rendermode InteractiveServer
@using OverlapssystemDomain.Entities
@using OverlapssystemDomain.Enums
@using OverlapssystemDomain.Interfaces
@using Overlapssystem.Services
@using OverlapssystemShared

@inject ResidentApiService api
@inject NavigationManager Navigation



<h3>Overlapsseddel</h3>
<h5>Beboere</h5>


@if (!residents.Any())
{
    <p>Ingen beboere fundet</p>
}
else
{
    <div class="resident-grid">
        @foreach (var resident in residents)
        {
            <ResidentCard Resident="resident"
                          OnSave="SaveResidentAsync"
                          OnDelete="DeleteResidentAsync" />
        }
    </div>
}
            <DepartmentTaskCard DepartmentId="departmentId"
                            IsReadOnly="true" />

            <EmployeePhoneCard DepartmentId="departmentId"
				            IsReadOnly="true" />

<!-- Log ud knap nederst -->
<div class="logout-bar">
    <button class="logout-btn" @onclick="LogOut">Log ud</button>
</div>

@code {
    
    
    [Parameter]
    public int departmentId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            residents = await api.GetByDepartment(departmentId);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            residents = new();
        }
    }

    private async Task SaveResidentAsync(ResidentModel resident)
    {
        await api.UpdateResident(resident.ResidentId, resident);
        residents = await api.GetByDepartment(departmentId);
    }

    private async Task DeleteResidentAsync(ResidentModel resident)
    {
        await api.DeleteResident(resident.ResidentId);
        residents = await api.GetByDepartment(departmentId);
    }
    private void LogOut()
    {
        Navigation.NavigateTo("/");
    }

    List<ResidentModel> residents = new();
}