@page "/HandoverScheme/{departmentId:int}"
@rendermode InteractiveServer
@using OverlapssystemDomain.Entities
@using OverlapssystemDomain.Enums
@using OverlapssystemDomain.Interfaces
@using Overlapssystem.Services
@using OverlapssystemShared
@using Overlapssystem.ViewModels
@using Overlapssystem.Interfaces

@inject IResidentFacade residentFacade
@inject NavigationManager Navigation



<h3>Overlapsseddel</h3>
<h5>Beboere</h5>


@if (residents == null || !residents.Any())
{
    <p>Ingen beboere fundet</p>
}
else
{
    <div class="resident-grid">
        @foreach (var resident in residents)
        {
            <ResidentCard Resident="resident"
                          OnSave="SaveResidentAsync"
                          OnDelete="DeleteResidentAsync" />
        }
    </div>
}
            <DepartmentTaskCard DepartmentId="departmentId"
                            IsReadOnly="true" />

            <EmployeePhoneCard DepartmentId="departmentId"
				            IsReadOnly="true" />

<!-- Log ud knap nederst -->
<div class="logout-bar">
    <button class="logout-btn" @onclick="LogOut">Log ud</button>
</div>

@code {
    
    
    [Parameter]
    public int departmentId { get; set; }


    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            residents = await residentFacade.GetResidentByDepartment(departmentId);
        }
        finally
        {
            isLoading = false;
        }
    }

    private async Task SaveResidentAsync(ResidentViewModel vm)
    {
        await residentFacade.UpdateResident(vm);
        residents = await residentFacade.GetResidentByDepartment(departmentId);
    }

    private async Task DeleteResidentAsync(ResidentViewModel vm)
    {
        await residentFacade.DeleteResident(vm.ResidentId);
        residents = await residentFacade.GetResidentByDepartment(departmentId);
    }
    private void LogOut()
    {
        Navigation.NavigateTo("/");
    }

    List<ResidentViewModel> residents = new();
}