@page "/"
@page "/LandingPage"
@rendermode InteractiveServer
@inject NavigationManager Navigation

<h5>LoginSide</h5>

<div>
    <label>Indtast kode</label>
    <input @bind="accessCode" placeholder="Indtast kode" />
    <button @onclick="EnterSystem">Bekræft</button>
</div>

@code 
{
    private string accessCode = "";

    private void EnterSystem()
    {
        if (accessCode == "1234")
        {
            Navigation.NavigateTo("/EditHandoverScheme/1");
        }
        else if (accessCode == "5678")
        {
            Navigation.NavigateTo("/EditHandoverScheme/2");
        }
        else
        {
            Console.WriteLine("Ugyldig kode. Prøv igen.");
        }
    }
}
