@page "/"
@page "/login"
@rendermode InteractiveServer
@using OverlapssystemDomain.Entities
@using OverlapssystemDomain.Enums
@using OverlapssystemDomain.Interfaces
@using Overlapssystem.Services
@using OverlapssystemShared
@using Overlapssystem.TokenService
@using Overlapssystem.ViewModels
@using Overlapssystem.Interfaces
@using OverlapssytemApplication.Common.Result
@using OverlapssytemApplication.Common.Errors
@using System.IdentityModel.Tokens.Jwt
@using System.Net.Http.Headers

@inherits AppComponentBase
@inject UserApiService apiService
@inject NavigationManager navigation
@inject HttpClient Http
@inject AuthState authstate 


<!--- Viser tekniske fejl --->
@if (CurrentError?.Type == ErrorType.Technical || CurrentError?.Type == ErrorType.NotFound)
{
    <div class="technical-error-msg">
        <ErrorDisplay Message="@CurrentError?.Message" />
    </div>
}

<div class="login-wrapper">

   
    <div>
        <h2 class="h2-style">Overlapssystem</h2>
    </div>

    <div class="login-card">
        <h2>Log ind</h2>

        <div class="input-group">
        <input list="brugere"
               placeholder="Vælg eller indtast brugernavn"
               @bind="userName" />
        <datalist id="brugere">
            <option value="Slot" />
            <option value="Skov" />
        </datalist>
        </div>

        <div class="input-group">
            <input type="password" placeholder="Indtast password" @bind="password" />
        </div>

        <button class="login-btn" @onclick="HandleLogin">Login</button>

        <!--- Viser valideringsfejl --->
        @if (CurrentError?.Type == ErrorType.Validation)
        {
            <div class="error-msg">
                <ErrorDisplay Message="@CurrentError?.Message" />
            </div>
        }

        @if (IsLoading)
        {
            <div class="loading-spinner">
                <div class="spinner"></div>
            </div>
           
        }
    </div>
</div>

@code{
    [Parameter]
    public UserModel User { get; set; } = new();

    private string userName = string.Empty;
    private string password = string.Empty;
  

    private async Task HandleLogin()
    {
        //Wrapper login logikken i ExecuteAsync fra AppComponentBase for at håndtere loading state og fejl
        await ExecuteAsync(async () =>
        {
            if (!ValidateInput())
                return Error.Validation("Brugernavn og password må ikke være tomme.");

            var result = await apiService.ValidateUser(userName, password);

            if (!result.Success)
            {
                return Error.Validation("Ugyldigt brugernavn eller password.");
            }

            var token = result.Value;

            Http.DefaultRequestHeaders.Authorization =
                new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", token);

            await authstate.MarkUserAsAuthenticated(token);

            var handler = new System.IdentityModel.Tokens.Jwt.JwtSecurityTokenHandler();
            var jwtToken = handler.ReadJwtToken(token);

            var departmentId = jwtToken.Claims
                .FirstOrDefault(c => c.Type == "DepartmentId")?.Value;

            if (!string.IsNullOrEmpty(departmentId))
                navigation.NavigateTo($"/HandoverScheme/{departmentId}");
            else
                navigation.NavigateTo("/HandoverScheme");

            return Result.Ok();
        });
    }
   

    // (Input-validering) Validerer at både brugernavn og password er indtastet
    private bool ValidateInput()
    {
        return !string.IsNullOrWhiteSpace(userName)
            && !string.IsNullOrWhiteSpace(password);
    }

    // // Kalder API'et for at validere brugeren og returnere et token, hvis det er gyldigt
    // private async Task<string?> AuthenticateAsync()
    // {
    //     var result = await apiService.ValidateUser(userName, password);

    //     return result.Success ? result.Value : null;
    // }

   
}
