@page "/login"
@rendermode InteractiveServer
@using OverlapssystemDomain.Entities
@using OverlapssystemDomain.Enums
@using OverlapssystemDomain.Interfaces
@using Overlapssystem.Services
@using OverlapssystemShared

@inject UserApiService apiService
@inject NavigationManager navigation

<div class="login-wrapper">
    <div class="login-card">
        <h2>Log ind</h2>

        <div class="input-group">
            <input type="text" placeholder="Indtast brugernavn" @bind="userName" />
        </div>

        <div class="input-group">
            <input type="password" placeholder="Indtast password" @bind="password" />
        </div>

        <button class="login-btn" @onclick="HandleLogin">Login</button>

        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <p class="error-msg">@errorMessage</p>
        }
    </div>
</div>

@code{
    [Parameter]
    public UserModel User { get; set; } = new();

    private string userName = string.Empty;
    private string password = string.Empty;
    private string errorMessage = string.Empty;
    private bool isLoading = false;

    private async Task HandleLogin()
    {
        errorMessage = string.Empty;

        if(string.IsNullOrWhiteSpace(userName) || string.IsNullOrWhiteSpace(password))
        {
            errorMessage = "Brugernavn og password må ikke være tomme.";
            return;
        }
        try
        {
            isLoading = true;

            //Venter på ApiService til at returnerer en book
            var validUser = await apiService.ValidateUser(userName, password);

            if (validUser)
            {
                navigation.NavigateTo("/HandoverScheme");
            }
            else
            {
				errorMessage = "Ugyldigt brugernavn eller password.";
            }
        } catch (Exception ex)
        {
            errorMessage = $"Der opstod en fejl: {ex.Message}";
        }
        finally
        {
			isLoading = false;
        }

	}
}
