@using Microsoft.AspNetCore.Components.Authorization
@using Overlapssystem.Services
@using Overlapssystem.TokenService
@inject AuthState authState

<AuthorizeView Roles="Administrator">
    <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="HandoverScheme/1">
                <span class="oi oi-eye" aria-hidden="true"></span> Overlapssedel
            </NavLink>
            <NavLink class="nav-link" href="OpretBruger">
                Opret bruger
            </NavLink>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="nav-item px-3">
            Ikke admin / ikke loaded
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    private bool collapseNavMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
